/** @format */

@use "./styles/reset";
@use "sass:selector";

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin for-tablet-up {
  @media screen and (min-width: toRem(375)) {
    @content;
  }
}

@mixin for-upper-breakpoint {
  @media screen and (min-width: toRem(700)) {
    @content;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1;
}

main {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  h1 {
    font-size: 2rem;
    margin-top: toRem(60);
    margin-bottom: toRem(30);
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 98%);
  }
}

.new-input {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  background: #fff;
  gap: 20px;
  box-shadow: 8px 7px 33px -4px rgb(190 190 190 / 44%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  &__dummy {
    width: 1.3rem;
    height: 1.3rem;
    border: hsl(236, 33%, 92%) solid 1px;
    border-radius: 50%;
  }
  input {
    border: none;
    min-width: toRem(500);
    min-height: toRem(55);
    caret-color: hsl(220, 98%, 61%);
    &:focus-visible {
      outline: none;
    }
  }
}

.todo-items {
  background: #fff;
  box-shadow: 8px 7px 33px -4px rgba(0, 0, 0, 0.44);
  border-radius: 10px;
  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 20px;
    min-height: toRem(55);
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid hsl(236, 33%, 92%);
    &--done {
      text-decoration: line-through;
    }
  }

  &__action-bar {
    min-height: toRem(45);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.8rem;
    color: hsl(236, 9%, 61%);
  }

  &__filters {
    display: flex;
    gap: 10px;
  }

  &__filter {
    font-weight: 700;
  }

  &__filter:hover,
  &__filter--active {
    color: hsl(220, 98%, 61%);
  }

  &__filter:hover {
    cursor: pointer;
  }

  &__checkbox {
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0;
    z-index: 1000;
  }

  &__checkbox:checked + &__pseudo {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }

  &__checkbox:checked ~ &__text {
    text-decoration: line-through;
    color: hsl(236, 33%, 92%);
  }

  &__pseudo {
    position: absolute;
    display: flex;
    width: 1.3rem;
    height: 1.3rem;
    border: hsl(236, 33%, 92%) solid 1px;
    border-radius: 50%;
    img {
      margin: auto;
    }
  }
}

footer {
  align-self: end;
  height: min-content;
  grid-row: 3;
  grid-column: 2 / 3;
}
